In [1]:
import pandas as pd 
import numpy as np

In [2]:
world_1 = pd.read_csv('world-data-1.csv',index_col=0)
world_2 = pd.read_csv('world-data-2.csv', index_col=0)

### 2.3. Unión de datos
2.3.1. Carga el archivo 'world-data-2' como DataFrame (world_2)

2.3.2. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

2.3.3. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

2.3.4. Después de la unión de datos, tenemos dos columnas de con los nombres del país. Elimina una de ellas.

2.3.4. Ahora guarda el DataFrame en un archivo csv llamado 'world-data.csv' utilizando df.to_csv(nombre_del_archivo)

In [3]:
world_2.columns

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'latitude', 'longitude', 'Continent'],
      dtype='object')

In [4]:
world_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   GDP                                        193 non-null    float64
 1   Gross primary education enrollment (%)     188 non-null    float64
 2   Gross tertiary education enrollment (%)    183 non-null    float64
 3   Infant mortality                           189 non-null    float64
 4   Largest city                               189 non-null    object
 5   Life expectancy                            187 non-null    float64
 6   Maternal mortality ratio                   181 non-null    float64
 7   Minimum wage                               150 non-null    float64
 8   Official language                          190 non-null    object
 9   Out of pocket health expenditure           188 non-null    float64
 10  Physicians per thousand                    188 non-null    float64
 11  Population                                 194 non-null    float64
 12  Population: Labor force participation (%)  176 non-null    float64
 13  Tax revenue (%)                            169 non-null    float64
 14  Total tax rate                             183 non-null    float64
 15  Unemployment rate                          176 non-null    float64
 16  Urban_population                           190 non-null    object
 17  country                                    195 non-null    object
 18  latitude                                   194 non-null    float64
 19  longitude                                  194 non-null    float64
 20  Continent                                  195 non-null    object
dtypes: float64(16), object(5)
memory usage: 33.5+ KB

In [5]:
world = world_1.merge(world_2, how='inner', left_on='Country', right_on='country')

In [6]:
world.head(2).T

                                                       0              1
Country                                      Afghanistan        Albania
Density\n(P/Km2)                                    60.0          105.0
Abbreviation                                          AF             AL
Agricultural Land( %)                               58.1           43.1
Land Area(Km2)                                   652,230         28,748
Armed Forces size                                323,000          9,000
Birth Rate                                         32.49          11.78
Calling Code                                        93.0          355.0
Capital/Major City                                 Kabul         Tirana
Co2-Emissions                                      8,672          4,536
CPI                                                149.9         119.05
CPI Change (%)                                       2.3            1.4
Currency-Code                                        AFN            ALL
Fertility Rate                                      4.47           1.62
Forested Area (%)                                    2.1           28.1
Gasoline Price                                       0.7           1.36
GDP                                        19101353833.0  15278077447.0
Gross primary education enrollment (%)             104.0          107.0
Gross tertiary education enrollment (%)              9.7           55.0
Infant mortality                                    47.9            7.8
Largest city                                       Kabul         Tirana
Life expectancy                                     64.5           78.5
Maternal mortality ratio                           638.0           15.0
Minimum wage                                        0.43           1.12
Official language                                 Pashto       Albanian
Out of pocket health expenditure                    78.4           56.9
Physicians per thousand                             0.28            1.2
Population                                    38041754.0      2854191.0
Population: Labor force participation (%)           48.9           55.7
Tax revenue (%)                                      9.3           18.6
Total tax rate                                      71.4           36.6
Unemployment rate                                  11.12          12.33
Urban_population                               9,797,273      1,747,593
country                                      Afghanistan        Albania
latitude                                        33.93911      41.153332
longitude                                      67.709953      20.168331
Continent                                           Asia         Europa

In [7]:
world.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'latitude', 'longitude', 'Continent'],
      dtype='object')

Los diferentes tipos de uniones en pandas son los siguientes: 
Pandas ofrece varios métodos para unir y combinar tablas (DataFrames). Los más comunes son merge, join y concat. Cada uno tiene sus propias características y usos específicos. A continuación, se describen estos métodos y sus diferencias, junto con ejemplos de sintaxis.

### 1. merge
El método merge es similar a las uniones en SQL. Permite unir dos DataFrames basándose en una o más claves.

Inner join (intersección): Devuelve solo las filas que tienen valores coincidentes en ambas tablas.
Outer join (unión): Devuelve todas las filas cuando hay una coincidencia en una de las tablas.
Left join: Devuelve todas las filas del DataFrame izquierdo y las filas coincidentes del DataFrame derecho.
Right join: Devuelve todas las filas del DataFrame derecho y las filas coincidentes del DataFrame izquierdo.
### 2. join
El método join se utiliza principalmente para combinar DataFrames por sus índices. Puede ser más conveniente cuando se trabaja con índices en lugar de columnas clave.

Inner join (intersección)
Outer join (unión)
Left join
Right join
### 3. concat

El método concat se utiliza para concatenar DataFrames a lo largo de un eje (filas o columnas).
Resumen de diferencias:
merge: Similar a las uniones en SQL, combina DataFrames basándose en claves específicas. Se utiliza cuando se necesita combinar DataFrames basados en columnas.
join: Similar a merge, pero se usa principalmente para unir DataFrames basándose en índices. Conveniente cuando se trabaja con índices.
concat: Utilizado para concatenar DataFrames a lo largo de un eje (filas o columnas). Es útil para agregar más datos a un DataFrame existente.
Cada uno de estos métodos ofrece flexibilidad para diferentes tipos de combinaciones y es importante elegir el adecuado según el caso de uso específico.

## Justificación

En este caso he elegido 'merge' con una unión tipo 'inner' porque quería unir solo por los valores coincidentes en base a la columna country que es igual en ambas tablas.

In [8]:
world.drop('country',axis=1,inplace=True)
world.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'latitude',
       'longitude', 'Continent'],
      dtype='object')

In [10]:
world.to_csv('world_unido.csv',index=0)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/pandas/core/indexes/base.py:7834: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)